{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card-choose m-5 flex flex-col  align-items-center  md:justify-start lg:justify-start  rounded-lg p-2 " >
  <h1 class="text-2xl">Join as a <span class="underline-3 style-2 yellow"> <span class="underline-3 style-2 yellow">Freelancer(Artisans, Experts, Professionals) </span>  </h1>
  <div class="card-cat justify-center mt-8  flex flex-col md:flex-row lg:flex-row">
    <!-- <div class="client-card mt-2  w-64 h-32 rounded-lg  flex flex-col justify-content-center align-items-center">
      <img src="{% static 'assets/client.jpg' %}">
     <a type="button" class="rounded-full bg-yellow-500 px-2 py-1 " href="{% url 'client_register' %}">I am a client</a>
    </div>  -->
    <div class="freelancer-card mt-16 w-64 h-32 rounded-lg flex flex-col  justify-center align-items-center">
      <img src="{% static 'assets/freelance.jpg' %}">
     <a type="button" class="rounded-full bg-yellow-500 px-3 py-2" href="{% url 'freelancer_register' %}">I am a freelancer</a>
    </div>
  </div>
 
</div>

{% endblock content %}