{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section class="wrapper image-wrapper bg-image bg-overlay bg-overlay-light-600 text-white" data-image-src="{% static 'assets/img/photos/bg18.png' %}">
      <div class="container pt-17 pb-20 pt-md-19 pb-md-21 text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h1 class="display-1 mb-3">Register</h1>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container pb-14 pb-md-16">
        <div class="row">
          <div class="col-lg-7 col-xl-6 col-xxl-5 mx-auto mt-n20">
            
            <div class="card">
              <div class="card-body p-11 text-center">
                <h2 class="mb-3 text-center">Welcome Back</h2>
                <p class="lead mb-6 text-center">Fill in  your details .</p>
                <form class="text-start mb-3 rounded-pill" method="POST">
                  {% csrf_token %}
                  {{ form|crispy }}

                  <!-- <div class="form-floating mb-4">
                    <input type="email" class="form-control" placeholder="Email" id="loginEmail">
                    <label for="loginEmail">Email</label>
                  </div>
                  <div class="form-floating password-field mb-4">
                    <input type="password" class="form-control" placeholder="Password" id="loginPassword">
                    <span class="password-toggle"><i class="uil uil-eye"></i></span>
                    <label for="loginPassword">Password</label>
                  </div> -->
                  <button class="btn btn-primary btn-login w-100 mb-2 mt-2" type="Submit"> <a class="text-black hover:text-black">Login</a>
                  </button>
                </form>
                <!-- /form -->
                <p class="mb-1"><a href="#" class="hover">Forgot Password?</a></p>
                <p class="mb-0">Don't have an account? <a href="{% url 'register' %}" class="hover">Sign up</a></p>
                
              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  


  {% endblock content %}
